<div class="conversion-content">
  <div class="left-part">
    <div class="conversion" *ngIf="currencies$ | async as currencies" >
      <input type="text" placeholder="Введіть суму для обміну" [(ngModel)]="amount" />
      <p>оберіть валюту для обміну -</p>
      <select *ngIf="currencies$ | async as currencies" [(ngModel)]="selectedCurrency">
        <option *ngFor="let currency of currencies | currencyFilter" [value]="currency.cc">
          {{ currency.cc }}
        </option>
      </select>
      <div class="rez">
        <p>
          Ви отримаєте -
          {{ +amount * getCurrencyRate(currencies) | number: "1.1-2" }} - грн.
        </p>
      </div>
    </div>
  </div>
  <br />

  <div class="right-part">
    <div class="conversion" *ngIf="currencies$ | async as currencies">
      <input type="text" placeholder="Введіть суму для обміну" [(ngModel)]="amount" />
      <p>оберіть валюту для обміну -</p>
      <select *ngIf="currencies$ | async as currencies" [(ngModel)]="selectedCurrency">
        <option *ngFor="let currency of currencies | currencyFilter" [value]="currency.cc">
          {{ currency.cc }}
        </option>
      </select>
      <div class="rez">
        <p>
          Ви отримаєте -
          {{ +amount * getCurrencyRate(currencies) | number: "1.1-2" }} - грн.
        </p>
      </div>
    </div>
  </div>
</div>
