.conversion-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    .left-part,
    .right-part{
        width: 50%;
    }
}
.conversion {
    input[type="text"],
    select {
        padding: 12px 20px;
        margin: 8px 5px;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        font-size: 15px; 
    }
    input[type="text"] {
        width: 70%;
    }
    select {
        width: 30%;
    }
}
